[Desktop Entry]
Name=Overview
Comment=Toggle Overview

Type=Service
Icon=dialog-layers
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Himprakash Deka
X-KDE-PluginInfo-Name=com.himdek.kde.plasma.overview
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0-or-later
